<router-outlet></router-outlet>
<nav class="section-nav">
  <div class="logo-box">
    <img src="../assets/logo.svg" />
  </div>
  <div>
    <button class="button black">Free consultation</button>
  </div>
</nav>
<div class="section-hero">
  <h1>Design solutions made easy</h1>
  <p class="supporting-txt">
    With over ten years of experience in various design disciplines, I’m your
    one-stop shop for your design needs.
  </p>
  <div class="skillset-box">
    <div class="col flex-col">
      <!-- <div class="full-col galactic-blue-bg"></div> -->
      <div class="row flex-row">
        <div class="col galactic-blue-bg slide">
          <p class="name">Graphic Design</p>
        </div>
      </div>
    </div>
    <div class="col flex-col">
      <div class="row">
        <div class="col yellow-bg slide slide-ux-ui">
          <p class="name">UX/UI</p>
        </div>
        <div class="col pink-bg slide slide-apps">
          <p class="name">APPS</p>
        </div>
      </div>
      <div class="row flex-row">
        <div class="col red-bg slide slide-illustration">
          <p class="name">ILLUSTRATIONS</p>
        </div>
      </div>
    </div>
    <div class="col flex-col tb-row">
      <div class="row flex-row">
        <div class="col cyan-bg slide slide-photography">
          <p class="name">PHOTOGRAPHY</p>
        </div>
      </div>
      <div class="row flex-row">
        <div class="col purple-bg slide slide-motion-graphics">
          <p class="name">MOTION GRAPHICS</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-intro">
  <div class="photo-box">
    <img src="../assets/image-amy.webp" />
  </div>
  <div class="message">
    <h1>I’m Amy, and I’d love to work on your next project</h1>
    <p>
      I love working with others to create beautiful design solutions. I’ve
      designed everything from brand illustrations to complete mobile apps. I’m
      also handy with a camera!
    </p>
    <button class="button red-bg default">Free consultation</button>
  </div>
</div>
<nav class="section-footer">
  <div class="logo-box">
    <img src="../assets/logo.svg" />
  </div>
  <div>
    <button class="button black">Free consultation</button>
  </div>
</nav>
